body{
    background-color: #fff;
}
h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-top: -350px;
    margin-bottom: 350px;
}
h2{
    color: rgb(9,109,121,1);
    margin: 5%;
}
.s2{
    text-align: right;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 700;
}